<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

    <div th:replace="fragments :: navigation"></div>

    <div class="container body-content">

        <h1 th:text="${title}">Default Title</h1>

        <p th:unless="${myCheeses} and ${myCheeses.size()}">no cheese :(</p>

        <table class="table" th:if="${myCheeses} and ${myCheeses.size()}">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>

            <tr th:each="cheese : ${myCheeses}">
                <td th:text="${cheese.name}"></td>
                <td th:text="${cheese.description}"></td>
            </tr>
        </table>
    </div>

</body>
</html>