<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

    <div th:replace="fragments :: navigation"></div>

    <div class="container body-content">

        <h1 th:text="${title}">Default Title</h1>

        <p th:unless="${myCheeses} and ${myCheeses.size()}">no cheese :(</p>

        <form method="post">
            <div th:each="cheese : ${myCheeses}" class="checkbox">
                <label><input type="checkbox" th:text="${cheese.name}" name="cheeseIds" th:value="${cheese.cheeseId}" th:id="${cheese.cheeseId}" /></label>
            </div>
            <input th:if="${myCheeses} and ${myCheeses.size()}" type="submit" value="Remove" class="btn btn-warning"/>
        </form>
    </div>

</body>
</html>

